.parentTabs {
    transition: all 500ms ease-in-out;
    min-width: 150px;
    padding: 8px 16px;
    width: 100%;

    .tabButton {
        color: var(--mbj-color-black);
        text-align: left;
        position: relative;
        background-color: transparent;
        border: none;
        font-size: 1.125rem;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
            transition: all 500ms ease;
        }

        &.activeTab {
            img {
                transform: rotate(90deg);
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            background-color: var(--mbj-color-black);
            height: 1px;
        }
    }

    .nestedTabs {
        max-height: 0;
        height: auto;
        overflow: hidden;
        list-style: none;
        transition: all 500ms ease;
        padding: 0 10px;
        text-align: left;

        &.toggledTab {
            max-height: 500px;
            padding: 5px 10px;
            height: auto;
        }
    }

    @media only screen and (max-width: 576px) {
        opacity: 0;
        padding: 0 40px;
        transition: all 500ms ease;
        animation-delay: .35s;

        .tabButton {
            animation-delay: .35s;
            font-size: 1rem;
            margin: 0;
            pointer-events: none;

            img {
                display: none;
            }
        }

        .nestedTabs {
            animation-delay: .35s;
        }
    }
}