.djSection {
    padding: 50px;
    background-color: var(--mbj-color-teal);

    .title {
        color: var(--mbj-color-white);
        text-align: center;
        margin-bottom: 50px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-auto-rows: 1fr;
        justify-content: center;
        gap: 20px;

        .djName {
            text-align: center;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: var(--mbj-color-white);
        }

        .pronouns {
            text-align: center;
            margin-bottom: 0.5rem;
            color: var(--mbj-color-white);
        }

        .biography {
            text-align: justify;
            font-size: 18px;
            line-height: 150%;
            color: var(--mbj-color-white);
        }
    }
}