.djSection {
    padding: var(--spacing-4xl);
    background-color: var(--mbj-color-teal);

    .title {
        color: var(--mbj-color-white);
        text-align: center;
        margin-bottom: var(--spacing-4xl);
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-auto-rows: 1fr;
        justify-content: center;
        gap: var(--spacing-l);

        .djName {
            text-align: center;
            font-weight: bold;
            margin-bottom: var(--spacing-2xs);
            color: var(--mbj-color-white);
        }

        .pronouns {
            margin-bottom: var(--spacing-2xs);
        }

        .biography {
            text-align: justify;
            font-size: var(--font-size-s);
            line-height: var(--line-height-loose);
        }
    }
}