.protocolSection {
    padding: 50px;
    background-color: var(--mbj-color-teal);

    .title {
        position: relative;
        max-width: 500px;
        margin: 0 auto;
        color: var(--mbj-color-white);
        text-align: center;
        margin-bottom: 50px;
    }

    .content {
        position: relative;
        max-width: 500px;
        margin: 0 auto;

        p {
            color: var(--mbj-color-white);
            line-height: 120%;

            a {
                color: var(--mbj-color-white);
            }

            br {
                content: "";
                margin: 1em;
                display: block;
            }
        }
    }
}