.levelSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-3xl);

	h2,
	h3,
	p,
	a {
		color: var(--mbj-color-white);
	}
	p {
		line-height: 135%;
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-l);
	}

	h3 {
		text-align: center;
		margin: var(--spacing-m) 0;
	}

	.content {
		max-width: 500px;
		margin: 0 auto;

		.level {
			p:not(:last-of-type) {
				margin-bottom: var(--spacing-xs);
			}

			.levelList {
				color: var(--mbj-color-white);
				margin-top: var(--spacing-m);
				columns: 2;
			}
		}
	}
}
