.switchSection {
	background-color: var(--mbj-color-black);
	padding: 40px;

	h2,
	h3,
	p,
	a {
		color: var(--mbj-color-white);
	}
	p {
		line-height: 135%;
	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	h3 {
		text-align: center;
		margin: 15px 0;
	}

	.content {
		max-width: 500px;
		margin: 0 auto;

		.level {
			p:not(:last-of-type) {
				margin-bottom: 10px;
			}

			.levelList {
				list-style: none;
				color: var(--mbj-color-white);
				margin-top: 1rem;
			}
		}
	}
}
