@use 'styles/breakpoints' as bp;

.scheduleSection {
	padding: var(--spacing-4xl) var(--spacing-3xl) var(--spacing-5xl);
	max-width: var(--max-width);
	margin: 0 auto;

	@include bp.down('sm') {
		padding: var(--spacing-2xl) var(--spacing-m) var(--spacing-5xl);
	}
}

.title {
	margin-bottom: var(--spacing-2xl);
}
