@use 'styles/breakpoints' as bp;

.titleSection {
    position: relative;
    height: 50vh;
    min-height: 350px;
    background-color: var(--mbj-color-black);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .halfCircle {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;

        svg {
            max-height: 200px;
            max-width: 200px;
        }
    }


    .content {
        grid-column: 3 / 8;
        display: flex;
        gap: var(--spacing-3xl);
        height: 100%;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 500px;

            h2,
            h3,
            p {
                color: var(--mbj-color-white);
            }

            p {
                margin-bottom: var(--spacing-m);
                line-height: var(--line-height-tight);
            }
        }
    }

    .linesCircle {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: var(--z-raised);
    }

    svg {
        color: var(--mbj-color-white);
    }

    @include bp.down('xxl') {
        .linesCircle {
            svg {
                max-width: 250px;
                max-height: 250px;
            }
        }
    }

    @include bp.down('xl') {
        .content {
            grid-column: 3 / 10;
        }

        .linesCircle {
            top: 2px;

            svg {
                height: 200px;
                width: 200px;
            }
        }
    }


    @include bp.down('lg') {
        .halfCircle {
            bottom: -100px;
            top: initial;
            transform: none;
        }

        .content {
            grid-column: 2 / -2;

            .text {
                height: 100%;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h2 {
                    font-size: var(--font-size-xl);
                }
            }
        }
    }

    @include bp.down('md') {
        .linesCircle {
            right: -100px;
        }
    }

    @include bp.down('sm') {
        min-height: 300px;
        padding: var(--spacing-4xl);

        .halfCircle {
            display: none;
        }

        .linesCircle {
            clip-path: inset(0 0 51% 0);
        }

        .content {
            .text {
                width: 100%;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}