.titleSection {
    position: relative;
    height: 50vh;
    min-height: 350px;
    background-color: var(--mbj-color-black);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .halfCircle {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;

        svg {
            max-height: 200px;
            max-width: 200px;
        }
    }


    .content {
        grid-column: 3 / 8;
        display: flex;
        gap: 40px;
        height: 100%;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 500px;

            h2,
            h3,
            p,
            a {
                color: var(--mbj-color-white);
            }

            p {
                margin-bottom: 1rem;
                line-height: 125%;
            }

            a {
                margin-left: auto;
                max-width: fit-content;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .linesCircle {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    svg {
        color: var(--mbj-color-white);
    }

    @media only screen and (max-width: 1400px) {
        .linesCircle {
            svg {
                max-width: 250px;
                max-height: 250px;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .content {
            grid-column: 3 / 10;
        }

        .linesCircle {
            top: 2px;

            svg {
                height: 200px;
                width: 200px;
            }
        }
    }


    @media only screen and (max-width: 992px) {
        .halfCircle {
            bottom: -100px;
            top: initial;
            transform: none;
        }

        .content {
            grid-column: 2 / -2;

            .text {
                height: 100%;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h2 {
                    font-size: 3rem;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .linesCircle {
            right: -100px;
        }
    }

    @media only screen and (max-width: 576px) {
        min-height: 300px;
        padding: 50px;

        .halfCircle {
            display: none;
        }

        .linesCircle {
            clip-path: inset(0 0 51% 0);
        }

        .content {
            .text {
                width: 100%;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}