.scheduleSection {
    background-color: var(--mbj-color-black);
    padding: 40px;

    h2,
    h3,
    h4,
    p,
    li,
    a {
        color: var(--mbj-color-white);
    }

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .linkWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .link {
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .scheduleWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
        gap: 1rem;
    }

    @media only screen and (max-width: 500px) {
        padding: 1.5rem 0.5rem;
    }
}