.headerSection {
	position: relative;
	height: 50vh;
	min-height: 500px;
	background-color: var(--mbj-color-chartreuse);

	.registrationOpens {
		padding: 12px 16px;
		background-color: var(--mbj-color-white);
		border: 2px dotted var(--mbj-color-black);
		border-radius: 8px;
	}

	.registerNow {
		background-color: var(--mbj-color-white);
		padding: 12px 16px;
		border-radius: 8px;
		text-decoration: none;
		border: 2px solid var(--mbj-color-black);
		transition: all 300ms ease-in-out;
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 3px 5px rgba(38, 70, 83, 0.5);
		}
	}

	.text {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.eventTitle {
			font-family: var(--font-caveat-brush);
			font-size: clamp(2rem, 5vw, 4rem);
		}

		h1 {
			margin-bottom: 1rem;
		}

		.date {
			font-size: clamp(1.25rem, 2.5vw, 2.5rem);
		}
	}

	.registration {
		position: relative;
		border-top: 2px dotted var(--mbj-color-black);
		border-bottom: 2px dotted var(--mbj-color-black);
		padding: 15px 25px;
		margin-bottom: 20px;

		p {
			font-family: var(--font-caveat-brush);
			font-size: 2rem;
			margin: 0;
		}
	}

	@media only screen and (max-width: 992px) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);

		.text {
			grid-column: 2 / 8;
		}
	}

	@media only screen and (max-width: 768px) {
		display: block;
	}

	@media only screen and (max-width: 576px) {
		.registration {
			p {
				font-size: 1.2rem;
			}
		}
	}
}
