@use 'styles/breakpoints' as bp;

.headerSection {
	position: relative;
	height: 50vh;
	min-height: 500px;
	background-color: var(--mbj-color-chartreuse);

	.registrationOpens {
		padding: var(--spacing-s) var(--spacing-m);
		background-color: var(--mbj-color-white);
		border: 2px dotted var(--mbj-color-black);
		border-radius: var(--radius-s);
	}

	.registerNow {
		background-color: var(--mbj-color-white);
		padding: var(--spacing-s) var(--spacing-m);
		border-radius: var(--radius-s);
		text-decoration: none;
		border: 2px solid var(--mbj-color-black);
		transition: all var(--transition-medium) ease-in-out;
		&:hover {
			transform: translateY(-2px);
			box-shadow: var(--shadow-card);
		}
	}

	.text {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.eventTitle {
			font-family: var(--font-caveat-brush);
			font-size: clamp(2rem, 5vw, 4rem);
		}

		h1 {
			margin-bottom: var(--spacing-m);
		}

		.date {
			font-size: clamp(1.25rem, 2.5vw, 2.5rem);
		}
	}

	.registration {
		position: relative;
		border-top: 2px dotted var(--mbj-color-black);
		border-bottom: 2px dotted var(--mbj-color-black);
		padding: var(--spacing-m) var(--spacing-xl);
		margin-bottom: var(--spacing-l);

		p {
			font-family: var(--font-caveat-brush);
			font-size: var(--font-size-l);
			margin: 0;
		}
	}

	@include bp.down('lg') {
		display: grid;
		grid-template-columns: repeat(12, 1fr);

		.text {
			grid-column: 2 / 8;
		}
	}

	@include bp.down('md') {
		display: block;
	}

	@include bp.down('sm') {
		.registration {
			p {
				font-size: 1.2rem;
			}
		}
	}
}
