.descriptionSection {
    position: relative;
    background-color: var(--mbj-color-black);
    padding: 40px 0;

    h2,
    h3,
    p,
    a {
        color: var(--mbj-color-white);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .logoContainer {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        justify-self: center;
        align-self: center;

        img {
            width: 300px;
            height: 300px;
            opacity: 0.15;
        }
    }

    .content {
        position: relative;
        max-width: 50%;
        margin: 0 auto;

        p {
            br {
                content: "";
                margin: 1em;
                display: block;
            }

            .link {
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;

                &:hover {
                    text-decoration: none;
                }
            }

            margin-bottom: 20px;
        }


    }

    @media only screen and (max-width: 768px) {
        .logoContainer {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .content {
            padding: 20px 50px;
            max-width: 100%;

            h3 {
                text-align: center;
            }
        }
    }
}