.competitionSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-l) 0 var(--spacing-3xl) 0;

	h2,
	h3,
	p,
	a {
		color: var(--mbj-color-white);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-l);
	}

	h3 {
		margin-bottom: var(--spacing-l);
	}

	.content {
		position: relative;
		text-align: center;
		max-width: 50%;
		margin: 0 auto;

		.details {
			text-align: left;
		}

		p {
			margin-bottom: var(--spacing-xs);
		}

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-thickness: 2px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media only screen and (max-width: 992px) {
		padding: 0;

		.content {
			padding: var(--section-padding-mobile);
			max-width: 100%;
		}
	}
}
