@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -135% 0%;
	}
}

.skeleton {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.pulse {
		height: 100%;
		width: 100%;
		background: linear-gradient(
			-90deg,
			var(--mbj-color-skeleton-base) 0%,
			var(--mbj-color-skeleton-highlight) 50%,
			var(--mbj-color-skeleton-base) 100%
		);
		background-size: 400% 400%;
		animation: pulse 1.2s ease-in-out infinite;
	}

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
