@use 'sass:color';
@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -135% 0%;
	}
}

.skeleton {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.pulse {
		$from: #f5f5f5;
		$to: color.scale($from, $lightness: -10%);
		height: 100%;
		width: 100%;
		background: linear-gradient(-90deg, #d7d7d7 0%, #fcfcfc 50%, #d7d7d7 100%);
		background-size: 400% 400%;
		animation: pulse 1.2s ease-in-out infinite;
	}

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
