.featureCard {
    position: relative;
    background-color: var(--mbj-color-salmon);
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(38, 70, 83, 0.5);
    height: 100%;

    .linesCircle {
        position: absolute;
        top: -15px;
        right: -15px;

        svg {
            color: var(--mbj-color-white);
            height: 50px;
            width: 50px;
        }
    }

    .imgWrapper {
        text-align: center;

        img {
            background-color: var(--mbj-color-black);
            border-radius: 50%;
            box-shadow: 0 3px 5px rgba(38, 70, 83, 0.5);
            object-fit: cover;
        }
    }

    .details {
        .name {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 0.5rem;
            color: var(--mbj-color-white);
        }
    }
}