.staffSection {
	padding: var(--spacing-4xl);
	background-color: var(--mbj-color-teal);

	.title {
		color: var(--mbj-color-white);
		text-align: center;
		margin-bottom: var(--spacing-4xl);
	}

	.content {
		h3 {
			text-align: center;
			margin-bottom: var(--spacing-l);
			color: var(--mbj-color-white);

			&:not(:first-of-type) {
				margin-top: var(--spacing-l);
			}
		}

		.cards {
			display: flex;
			justify-content: center;
			gap: var(--spacing-l);
			flex-wrap: wrap;
		}

		.role {
			font-style: italic;
			margin-top: var(--spacing-3xs);
		}

		img {
			filter: grayscale(100%) contrast(1);
		}
	}
}
