.instructorsSection {
    position: relative;
    height: 50vh;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--mbj-color-black);

    .halfCircle {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;

        svg {
            max-height: 200px;
            max-width: 200px;
        }
    }


    .content {
        grid-column: 3 / 8;
        display: flex;
        gap: 40px;
        height: 100%;

        .instructorImageWrapper {
            position: relative;
            display: flex;
            align-items: center;

            img {
                object-fit: contain;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 500px;

            h2,
            h3,
            p,
            a {
                color: var(--mbj-color-white);
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 8px;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 1rem;
                line-height: 125%;
            }

            a {
                margin-left: auto;
                max-width: fit-content;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .linesCircle {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    svg {
        color: var(--mbj-color-white);
    }

    @media only screen and (max-width: 1400px) {
        .linesCircle {
            svg {
                max-width: 250px;
                max-height: 250px;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .content {
            grid-column: 3 / 10;

            .text {
                h2 {
                    font-size: 2rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }
        }

        .linesCircle {
            top: 2px;

            svg {
                height: 200px;
                width: 200px;
            }
        }
    }


    @media only screen and (max-width: 992px) {
        .halfCircle {
            bottom: -100px;
            top: initial;
            transform: none;
        }

        .content {
            grid-column: 2 / -2;

            .instructorImageWrapper {
                img {
                    max-width: 200px;
                }
            }

            .text {
                h2 {
                    font-size: 2rem;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .linesCircle {
            right: -100px;
        }
    }

    @media only screen and (max-width: 576px) {
        min-height: 700px;
        padding: 50px;

        .halfCircle {
            display: none;
        }

        .linesCircle {
            clip-path: inset(0 0 51% 0);
        }

        .content {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .instructorImageWrapper {
                img {
                    max-width: 250px;
                }
            }

            .text {
                height: fit-content;
                width: 100%;
            }
        }
    }
}