@use 'styles/breakpoints' as bp;

.travelSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-3xl) 0;

	h2,
	h3,
	p,
	a,
	li {
		color: var(--mbj-color-white);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-l);
	}

	h3 {
		font-size: var(--font-size-m);
		margin-top: var(--spacing-xl);
		margin-bottom: var(--spacing-2xs);
	}

	.content {
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		padding: 0 var(--spacing-l);

		p {
			margin-bottom: var(--spacing-m);
			line-height: var(--line-height-loose);
		}

		ul {
			padding-left: var(--spacing-xl);
			margin-bottom: var(--spacing-m);

			li {
				margin-bottom: var(--spacing-3xs);
			}
		}
	}

	@include bp.down('md') {
		.content {
			padding: 0 var(--spacing-2xl);
		}
	}
}
