.travelSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-3xl) 0;

	h2,
	h3,
	p,
	a,
	li {
		color: var(--mbj-color-white);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-l);
	}

	h3 {
		font-size: 1.5rem;
		margin-top: var(--spacing-xl);
		margin-bottom: var(--spacing-2xs);
	}

	.content {
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		padding: 0 var(--spacing-l);

		p {
			margin-bottom: var(--spacing-m);
			line-height: 150%;
		}

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-thickness: 2px;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			padding-left: var(--spacing-xl);
			margin-bottom: var(--spacing-m);

			li {
				margin-bottom: var(--spacing-3xs);
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.content {
			padding: 0 var(--spacing-2xl);
		}
	}
}
