@use 'styles/breakpoints' as bp;

.navLink {
  margin-bottom: var(--spacing-2xs);

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--mbj-color-black);
    font-style: italic;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
    }
  }

  &.current {
    a {
      font-style: normal;
      font-weight: 600;
      cursor: default;
      pointer-events: none;
      border: 1px dotted var(--mbj-color-black);
      border-radius: var(--radius-m);
      padding: var(--spacing-3xs) var(--spacing-xs);
    }
  }

  @include bp.down('sm') {
    a {
      font-size: 0.85rem;
    }
  }
}
