.ticketsSection {
    background-color: var(--mbj-color-black);
    padding: 40px;

    h2,
    h3,
    h4,
    p,
    li,
    a {
        color: var(--mbj-color-white);
    }

    a,
    p {
        line-height: 135%;
    }

    ul {
        list-style-type: disc;
        margin-left: 1rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    h3 {
        margin: 20px 0;
    }

    h4 {
        text-align: center;
        margin: 10px 0;
    }

    .dashed {
        text-decoration: line-through;
    }

    .content {
        max-width: 500px;
        margin: 0 auto;

        .level {
            .levelList {
                margin-top: 1rem;
                columns: 2;
            }
        }

        .details {
            width: 100%;
        }

        .calendar {
            width: 100%;

            .note {
                font-style: italic;
                text-align: center;
                max-width: 300px;
                margin: 1rem auto 0 auto;
            }

            .priceItem {
                display: flex;
                justify-content: space-between;



                span {
                    min-width: fit-content;
                }

                .dots {
                    position: relative;
                    width: 100%;
                    margin: 0 0.5rem;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: .4rem;
                        width: 100%;
                        height: 0;
                        line-height: 0;
                        border-bottom: 2px dotted var(--mbj-color-white);
                    }
                }
            }
        }

    }

    @media only screen and (max-width: 500px) {
        h2 {
            margin-bottom: 10px;
        }

        h3 {
            margin-bottom: 10px;
        }

        li,
        p {
            line-height: 150%;
        }

        .content {
            .calendar {

                .note {
                    font-size: 0.75rem;
                }

                ul {
                    margin: 0;
                }

                .priceItem {
                    display: block;

                    span {
                        min-width: fit-content;
                    }

                    .dots {
                        display: none;
                    }

                    .price {
                        display: block;
                        text-indent: 1.5rem;
                    }
                }
            }
        }

    }
}