.toTheEventSection {
    background-color: var(--mbj-color-black);
    padding: 40px 0;

    h2,
    h3,
    p,
    a {
        color: var(--mbj-color-white);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .mode {
            grid-column: 4 / -4;
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            margin-bottom: 2rem;

            .modeTitle {
                margin-bottom: 20px;
            }

            .mapContainer {
                width: 320px;
                height: 320px;
                min-width: 320px;
                min-height: 320px;
                border-radius: var(--border-radius);
                overflow: hidden;
            }
        }

        p {
            br {
                content: "";
                margin: 1em;
                display: block;
            }

            margin-bottom: 20px;
        }

        a {
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-thickness: 2px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .content {
            .mode {
                flex-direction: column;

                .mapContainer {
                    align-self: center;
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .content {
            align-items: center;
            padding: 20px 50px;

            .mode {
                grid-column: 1/-1;
            }
        }
    }
}