.volunteeringSection {
    background-color: var(--mbj-color-black);
    padding: var(--spacing-3xl);

    h2,
    h3,
    p,
    li,
    a {
        color: var(--mbj-color-white);
    }

    a,
    p {
        line-height: var(--line-height-base);
    }

    ul {
        list-style-type: disc;
        margin-left: var(--spacing-m);
    }

    h2 {
        text-align: center;
        margin-bottom: var(--spacing-l);
    }

    h3 {
        margin: var(--spacing-l) 0;
    }

    .content {
        max-width: 500px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 500px) {
        h2 {
            margin-bottom: var(--spacing-xs);
        }

        h3 {
            margin-bottom: var(--spacing-xs);
        }

        li,
        p {
            font-size: 0.6rem;
            line-height: var(--line-height-loose);
        }
    }
}