.bandSection {
    position: relative;
    min-height: 350px;
    background-color: var(--mbj-color-chartreuse);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 40%;
        background-color: var(--mbj-color-black);
        clip-path: polygon(0 0, 100% 0, 30% 55%, 0 30%);
    }

    .bandName {
        position: relative;
        grid-column: 1 / 9;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .bandImageWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--mbj-color-black);
            padding: 20px;
            border-radius: 50%;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 500px;

            h2 {
                font-size: 3rem;
                margin-bottom: 8px;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 8px;
                line-height: 125%;
            }

            a {
                margin-left: auto;
                max-width: fit-content;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .socialsWrapper {
        position: relative;
        grid-column: 9 / -1;
        background-color: var(--mbj-color-white);

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--mbj-color-black);
            clip-path: polygon(0 40%, 0% 100%, 100% 100%);
        }
    }

    @media only screen and (max-width: 1350px) {
        .bandName {
            .text {
                width: 300px;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        height: 100vh;
        grid-template-rows: repeat(2, 1fr);

        &:after {
            height: 20%;
        }

        .bandName {
            padding: 50px;
            grid-row: 1 / 2;
            grid-column: 1 / -1;

            .text {
                width: 100%;

                h2 {
                    font-size: 3rem;
                }
            }
        }

        .socialsWrapper {
            grid-row: 2 / -1;
            grid-column: 1 / -1;
        }
    }

    @media only screen and (max-width: 768px) {
        height: 100%;

        .bandName {
            flex-direction: column;

            .text {
                text-align: center;
                width: 100%;

                h2 {
                    font-size: 3rem;
                }

                p {
                    text-align: left;
                }
            }
        }
    }

    @media only screen and (max-width: 576px) {
        .bandName {
            .text {
                h2 {
                    font-size: 2rem;
                }
            }
        }
    }
}