.valuesSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-4xl);

	h2,
	h3,
	p,
	a {
		color: var(--mbj-color-white);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-xl);
	}

	h3 {
		margin-bottom: var(--spacing-xl);
	}

	.content {
		position: relative;
		max-width: 500px;
		margin: 0 auto;

		p {
			line-height: 120%;
			margin-bottom: var(--spacing-l);

			br {
				content: '';
				margin: 1em;
				display: block;
			}
		}

		@media only screen and (max-width: 992px) {
			h3 {
				text-align: center;
			}
		}
	}
}
