.judgesSection {
    padding: var(--spacing-4xl);
    background-color: var(--mbj-color-teal);

    .title {
        color: var(--mbj-color-white);
        text-align: center;
        margin-bottom: var(--spacing-4xl);
    }

    .content {
        display: flex;
        justify-content: center;
        gap: var(--spacing-l);
        flex-wrap: wrap;
    }
}

.judge {
    position: relative;
    background-color: var(--mbj-color-salmon);
    border-radius: var(--radius-s);
    width: 300px;
    padding: var(--spacing-l);
    box-shadow: var(--shadow-card);

    .linesCircle {
        position: absolute;
        top: -15px;
        right: -15px;

        svg {
            color: var(--mbj-color-white);
            height: 50px;
            width: 50px;
        }
    }

    .imgWrapper {
        text-align: center;

        img {
            background-color: var(--mbj-color-black);
            border-radius: 50%;
            box-shadow: var(--shadow-card);
        }
    }

    .details {
        .name {
            font-size: var(--font-size-l);
            text-align: center;
            margin-bottom: var(--spacing-2xs);
            color: var(--mbj-color-white);
        }
    }
}