@use 'styles/breakpoints' as bp;

.introSection {
	background-color: var(--mbj-color-black);
	padding: var(--spacing-3xl) 0 var(--spacing-l) 0;
	text-align: center;

	.scheduleNote {
		p {
			color: var(--mbj-color-chartreuse);

			&:before,
			&:after {
				content: '***';
			}
		}
	}

	.competitionNote {
		text-align: center;
		max-width: 50%;
		margin: var(--spacing-2xl) auto;
	}

	h2,
	h3,
	p {
		color: var(--mbj-color-white);
	}

	h2 {
		text-align: center;
		margin-bottom: var(--spacing-l);
	}

	h3 {
		margin-bottom: var(--spacing-l);
	}

	.content {
		position: relative;
		text-align: center;
		max-width: 50%;
		margin: 0 auto;

		p {
			margin-bottom: var(--spacing-xs);
		}
	}

	@include bp.down('lg') {
		padding: var(--spacing-l) 0 0 0;

		.competitionNote {
			margin: var(--spacing-l) var(--spacing-xl);
			max-width: 100%;
		}

		.content {
			padding: var(--section-padding-mobile);
			max-width: 100%;

			h3 {
				text-align: center;
			}
		}
	}
}
