.pillRadio {
	padding: var(--spacing-3xs);
	border: 1px solid var(--color-dark);
	border-radius: var(--radius-l);
	width: fit-content;

	.option {
		display: inline-block;
		background-color: transparent;
		padding: var(--spacing-2xs) var(--spacing-m);
		line-height: 1;
		border: none;
		text-decoration: none;
		cursor: pointer;

		&:not(.active) {
			color: var(--color-dark);

			&:hover {
				background-color: var(--color-primary);
				color: var(--color-neutral);
				transition: all var(--transition-fast);
			}
		}

		&.active {
			color: var(--color-neutral);
			background-color: var(--color-dark);
			pointer-events: none;
		}

		&.first {
			border-radius: var(--radius-s) 0 0 var(--radius-s);
		}

		&.last {
			border-radius: 0 var(--radius-s) var(--radius-s) 0;
		}
	}
}
