.rbc-calendar {
	.rbc-toolbar {
		display: flex;
		.rbc-toolbar-label {
			display: none;
		}
		.rbc-btn-group:last-of-type {
			display: none;
		}
		.rbc-btn-group:first-of-type {
			width: 100%;
			display: flex;
			justify-content: space-between;
			> button:first-child {
				display: none;
			}
			> button:nth-child(2) {
				border-radius: 8px 0 0 0;
				margin-left: 0;
			}
			> button:nth-child(3) {
				border-radius: 0 8px 0 0;
				margin-left: 0;
			}
		}
	}
	.rbc-time-header-content {
		border-left: none;
		.rbc-time-header-cell-single-day {
			display: block;
		}
	}
}
