.travelBlogSection {
    padding: 40px 60px;
    background-color: var(--mbj-color-white);
    min-height: 350px;

    .blogCollection {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .blogSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;

            .legend {
                font-size: 0.85rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 1rem;
                width: 100%;
            }

            .buttonContainer {
                display: flex;
                width: 100%;
                margin-bottom: 20px;
                align-items: center;

                .button {
                    margin-right: auto;
                    padding: 0.75rem 2.5rem;
                    background-color: var(--mbj-color-teal);
                    border: 1px solid var(--mbj-color-teal);
                    color: var(--mbj-color-white);
                    border-radius: 4px;
                    transition: all 200ms ease-in-out;
                    cursor: pointer;

                    svg {
                        margin-left: 4px;
                        width: 18px;
                        height: 16px;
                    }

                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                    }
                }
            }

            &:nth-child(2) {
                .image {
                    grid-column: 2 / -1;
                    grid-row: 1 / -1;
                }

                .blogDetails {
                    grid-column: 1 / 2;
                    grid-row: 1 / -1;
                }
            }

            .image {
                grid-column: 1 / 2;
                align-self: start;
                z-index: 10;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 4px;
                    box-shadow: 0 3px 5px rgba(38, 70, 83, 0.5);
                }
            }

            .blogDetails {
                grid-column: 2 / -1;

                .sectionIntro {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                    max-width: 500px;
                }


                .blogSubSection {
                    grid-column: 2 / -1;
                    margin-bottom: 1rem;

                    ul {
                        list-style: none;
                    }

                    h3 {
                        color: var(--mbj-color-teal);
                    }

                    .blogSpot {
                        line-height: 135%;

                        .spotName {
                            font-weight: bold;
                        }

                        .spotSpec {
                            abbr[title] {
                                text-decoration-thickness: 2px;
                                text-underline-offset: 3px;
                                text-decoration-color: var(--mbj-color-teal);
                            }
                        }

                        .spotSpec {
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {

        .blogCollection {
            display: flex;
            flex-direction: column;
            align-items: center;

            .blogSection {
                display: flex;
                flex-direction: column;
                align-items: center;

                .legend {
                    align-items: center;
                }

                .buttonContainer {
                    justify-content: center;

                    .button {
                        margin: 0 auto;
                    }
                }

                &:nth-child(2) {
                    margin-bottom: 2rem;
                }

                .image {
                    margin-bottom: 1rem;

                    img {
                        max-width: 500px;
                        max-height: 500px;
                    }
                }

                .blogDetails {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 576px) {
        padding: 0;

        .blogCollection {
            .blogSection {

                .buttonContainer {
                    .button {
                        width: 100%;
                        text-align: center;
                    }
                }

                .blogDetails {
                    padding: 20px;
                }

                .image {
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}