.body {
	background-color: var(--color-neutral);
	padding: 40px;

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: var(--font-caveat-brush);
		color: var(--mbj-color-black);
		font-weight: normal;
	}

	h1 {
		font-size: clamp(1.75rem, 4vw, 3.5rem);
	}

	h2 {
		font-size: clamp(2rem, 5vw, 4rem);
	}

	h3 {
		font-size: clamp(1.5rem, 3vw, 3rem);
	}

	h4 {
		font-size: clamp(1.25rem, 2.5vw, 2.5rem);
	}

	p,
	a,
	button,
	label,
	li {
		font-family: var(--font-josephin-sans);
	}

	fieldset {
		border: none;
	}

	input,
	textarea {
		border-width: 2px;
	}

	.mbj-toast-success {
		--toastify-color-success: #d97f76;
		--toastify-icon-color-success: var(--toastify-color-success);
		--toastify-color-progress-success: var(--toastify-color-success);
	}

	.mbj-link {
		text-decoration: underline;
		text-underline-offset: 3px;
		text-decoration-thickness: 2px;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}

	.mbj-form {
		padding: 12px;
		width: 100%;

		.mbj-fieldset {
			display: flex;
			flex-direction: column;
			margin-bottom: 12px;
		}

		.mbj-inline-fieldset {
			display: flex;
			gap: 8px;
			margin: 12px 0;
		}

		.mbj-label {
			margin-bottom: 8px;
		}

		.mbj-inline-label {
			text-align: left;
		}

		.mbj-field {
			padding: 8px 12px;
			border-radius: 4px;
			border-style: solid;
			border-color: var(--mbj-color-black);

			&:focus-visible {
				outline-color: var(--mbj-color-salmon);
			}
		}

		.mbj-button-container {
			display: flex;
			justify-content: flex-end;
			width: 100%;

			.mbj-button {
				margin-left: auto;
				padding: 0.5rem 2rem;
				background-color: var(--mbj-color-black);
				border: 1px solid var(--mbj-color-black);
				color: var(--mbj-color-white);
				border-radius: 4px;
				transition: all 200ms ease-in-out;
				cursor: pointer;

				&:hover {
					transform: translateY(-2px);
					box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
				}

				@media only screen and (max-width: 576px) {
					width: 100%;
				}
			}
		}
	}

	@media only screen and (max-width: 576px) {
		padding: 0;
	}
}

.wrapper {
	margin-bottom: 40px;
	border-radius: var(--border-radius);
	box-shadow: 0 1.5rem 4rem rgba(38, 70, 83, 0.15);
	overflow: hidden;

	@media only screen and (max-width: 576px) {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
	}
}

.main {
}
