@use 'styles/breakpoints' as bp;

.navigation {
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: var(--z-nav);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp.down('md') {
        display: none;
    }
}